*{
    margin: 0px;
    padding: 0px;
  }
  form{
    display: grid;
    align-items: center; 
    justify-content: center;
  }
  #nome{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align:left;
    padding-left: 3%;
    color: #303838;
    border-radius: 20px;
    width: 40em;
    height: 2.5em;
    margin-bottom: 30px;
    margin-top: 50%;
    border: solid;
    border-color: #5086F2;
    z-index: 0;
  }
  #nome::placeholder{
    position: absolute;
    top: 15%;
    left: 3%;
    color: #303838;
  }
  #nome:focus{
    outline: none;
    border: solid;
    border-color: #50F2C4;
  }
  #senha{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align:left;
    padding-left: 3%;
    color: #303838;
    border-radius: 20px;
    width: 40em;
    height: 2.5em;
    margin-bottom: 30px;
    margin-top: 3%;
    border: solid;
    border-color: #5086F2;
  }
  #entrar{
    text-decoration: none;
    border: none;
    border-radius: 15px;
    width: 40em;
    height: 5em;
    background-color: #50F2C4;
    z-index: -1;
  }
  #maincontent{
    height: 35em;
    width: 50em;
  }
  img{
    display: block;
    justify-items: right;
    width: 200px;
    height: 200px;
  }