*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#elementocabeca{
    position: absolute;
width: 100%;
height: 30%;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #4F89FF 0%, #5086F2 100%);
box-shadow: -1px 15px 22px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 40px 40px;
z-index: -2;
}
#textocabeca{
    position: absolute;
width: 20%;
height: 10%;
left: 12%;
top: 5%;

font-family: 'gotham';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #FFFFFF;
}
#textocabeca2{
    /* MANDROID */


position: absolute;
width: 19%;
height: 10%;
left: 12%;
top: 10%;

font-family: 'Gotham';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;
}
#circulo{
    position: absolute;
width: 100px;
height: 100px;
left: 3%;
top: 3%;

background: #FFFFFF;
border-radius: 50%;
z-index: 0;
}
#principal{
    position: absolute;
    width: 1182px;
    height: 746px;
    left: 6.5%;
    top: 25%;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.3);
    border-radius: 40px;

    z-index: -1;
}
#titulo{
    position: absolute;
width: 30%;
height: 10%;
left: 35%;
top: 30%;

font-family: 'Gotham Black';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 31px;
/* identical to box height */


color: #000000;
}
#apresentacao{
    position: absolute;
    width: 40%;
    height: 10%;
    left: 30%;
    top: 40%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    
    color: #000000;  
}
#tituloporta{
    position: absolute;
    width: 10%;
    height: 10%px;
    left: 25%;
    top: 70%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    text-align: justify;
    
    color: #000000;
}
#portas{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 18%;
    top: 80%;
    
    background: #52D9D9;
    border-radius: 20px;
    border: none;
}
#programarportas{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 28%;
    top: 80%;
    
    background: #52D9D9;
    border-radius: 20px;
    border: none;
}
#tituloluzes{
    position: absolute;
    width: 74px;
    height: 29px;
    left: 50%;
    top: 70%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    text-align: justify;
    
    color: #000000;
    
}
#luzes{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 47.5%;
    top: 80%;
    
    background: #D95252;
    border-radius: 20px;
    border: none;
}
#titulocomputadores{
    position: absolute;
    width: 142px;
    height: 29px;
    left: 70%;
    top: 70%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    text-align: justify;
    
    color: #000000;
    
}
#ligarpc{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 75%;
    top: 80%;
    
    background: #52D9D9;
    border-radius: 20px;
    border: none;
    z-index: 1;
}
#resetarpc{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 65%;
    top: 80%;
    
    background: #52D9D9;
    border-radius: 20px;
    border: none;
}
#logo{
    position: absolute;
    top: 110%;
    left: 48%;
    z-index: 1;
}
#creditos{
    position: absolute;
    top: 130%;
    left: 42%;
    font-family: 'gotham black';
    font-size: 13px;
}